/*
nav {
    
    justify-content: center;
    position:absolute;
    margin: 1%;

}

.navbar-items {
    position:absolute;
}

.navbar-items ul {
    list-style: none;    
    margin-top: 2%;
    margin-inline: 30%;
    
}
.navbar-items li
{
display:inline;
padding: 5%;
}
.navbar-items a {
text-decoration: none;
color: black;
border: 1px solid black;
padding: 5px;
border-radius: 10px;

}


@media (max-width: 640px) {
    .div {
        display: inline;
    }

    .navbar-items {
        display: inline-block;
    }

    .navbar-items {
        display:inline-flex;
    }
}
*/